<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT services company</title>
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="general">

         <!-- the ITG IMG -->
         <div class="ITG">ITG</div>


        <!-- this is the nav bar -->
        <div class="nav-div">
            <nav>
                <ul>
                    <li> <a href="#"></a>Home</li>
                    <li> <a href="#"></a>why choose us</li>
                    <li> <a href="#"></a>our services</li>
                    <li> <a href="#"></a>industries</li>
                    <li> <a href="#"></a>contact us</li>
                </ul>
            </nav>
        </div>

        <!-- adding the image -->
        <div class="image-container">
            <img src="company.webp" alt="">
        </div>

        <!-- text after the image -->
        <div class="consulting-cnt">
           <div class="consulting">
               <h1 class="first-h1">IT consulting & services</h1>
               <div class="line-p">   <!-- the div that joins the line and the p tag -->
               <div class="line">
                   
               </div>  <!-- the long line under -->
            <p class="first-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum iste, tempore similique atque dolor expedita labore commodi temporibus minima sed ipsum qui! Iste corporis repudiandae dolore cum quidem soluta, fugiat similique excepturi perspiciatis eum ipsum eligendi distinctio sunt alias ullam amet molestias officia natus </p>
              </div>
          </div> 
          <!-- the plus and find outt more -->
          <div class="plus-more">
             <i class="plus">+</i>
             <div class="find-more">find out more</div>
          </div>
        </div>

        <!-- our services -->
        <div class="services-cnt">
            <div class="services-cnt-2">
                <div class="bug">
            <h1 class="second-h1">our services</h1>
            <p class="second-p">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime quasi aperiam tenetur! Vel explicabo nihil inventore
            </p>
                 </div>
           </div>

           <div class="services-box">
               <div class="box">
                   <h2>Cloud <br> Solution</h2>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum harum incidunt illo quo excepturi.
                </p>
                   <a href="#"> + learn more</a>
               </div>

               <div class="box">
                   <h2>Managed IT <br> Services</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum harum incidunt illo quo excepturi.
              </p>
                 <a href="#"> + learn more</a>
             </div>

             <div class="box">
                 <h2>Disaster <br> Recovery</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum harum incidunt illo quo excepturi.
              </p>
                 <a href="#"> + learn more</a>
             </div>
<br>
             <div class="box">
                 <h2>Cloud <br> Desktop</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum harum incidunt illo quo excepturi.
              </p>
                 <a href="#"> + learn more</a>
             </div>

             <div class="box">
                 <h2>Network <br> Solution</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum harum incidunt illo quo excepturi.
              </p>
                 <a href="#"> + learn more</a>
             </div>

               <div class="box">
                   <h2>Surport <br> Consulting</h2>
                <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio illum harum incidunt illo quo excepturi.
              </p>
                 <a href="#"> + learn more</a>
             </div>
           </div>
        </div>

        <!-- the testimonoal section -->
        <div class="testimonial-cont">
            <h3>Testimonial</h3>
            <!-- the arrows and the text -->
            <div class="arrows-cont">
            <div class="arrow-left">
             <img src="outline_west_black_24dp.png" alt="">
            </div>

            <p><q>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quidem fugiat enim esse. Lorem ipsum dolor sit amet.</q></p>

            <div class="arrow-right">
              <img src="outline_east_black_24dp.png" alt="">
            </div>

        </div>
            
            <!-- the names under the testimmonial section -->
            <div class="testimonial-names">
                <p>paul ceejay <br> CEO of paul ceejay</p>

                <!-- the threen dots -->
                <div class="dots">. . .</div>
            </div>


            <!-- ready to find more section -->
            <div class="find-more-cont">
                <h1>Ready to find out more?</h1>
                <div class="line-par-cont">
                    <!-- the long line -->
                    <div class="line">

                    </div>

                    <div class="text"></div>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum voluptatum a, ea quia assumenda beatae inventore consequuntur illo quisquam itaque.
                        </p>
                    </div>
                </div>

                <!-- the plus and get free evaluation-->
          <div class="plus-free">
            <i class="plus">+</i>
            <div class="get-free">get free evaluation 
            </div>
         </div>
       </div>

            </div>

            <!-- contact us section -->
            <div class="contact-us-cnt">
                <h2>contact us</h2>

               <!-- the form container -->
                <div class="form-cont">

                  <!-- container for the names input -->
            
                <form action="#">
                    <label for="first-name">First Name*</label>
                    <input type="text" name="first-name" id="first-name">

                    <label for="last-name">Last Name*</label>
                    <input type="text" name="last-name" id="last-name">

                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">

                    <label for="message">Message*</label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>

               <button type="submit">submit</button>
                </form>
               </div>
            </div>

    </div>
</body>
</html>